/* dynamic nav styling */
.dynamic_nav ul {
	padding-left: 5px;
}

.dynamic_nav ul li {
	list-style: none;
	line-height: 25px;
}

.dynamic_nav ul li a.collections-facet{
	background: url(images/checkbox.gif) no-repeat left;
    background-position: 0px; 
    height: 37px;
	padding-left: 24px;
 	/*list-style-image: url(images/checkbox.gif);*/
 	
}

.dynamic_nav ul li a.selected {
	background: url(images/checkbox_yes.png) no-repeat left;
    background-position: 0px;
    height: 37px;
	padding-left: 24px;
}

.search-result-filters {
	margin-bottom: 40px;
}

.search-result-filters ul li a.selected {
	background: url(images/checkbox_yes.png) no-repeat left;
    background-position: 0px;
    height: 37px;
	padding-left: 24px;
	padding-bottom: 5px;
}

.search-result-filters ul li {
	list-style: none;
	line-height: 25px;
}
	

 
form#facets-search-date-range-form .form-item-start-year,
form#facets-search-date-range-form .form-item-end-year {
	display:none;
}



form#facets-search-date-range-form {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*onsearch box center align */
.csc_callout img {
	padding-left: 25%;
	padding-bottom: 20px;
}
.csc_callout img.image-title {
	padding-left: 0;
	padding-bottom: 10px;
}
	
/* Slider style */
.ui-slider {
	width:230px;
	height:11px;
	background:url(images/slider-bg.png);
	position:relative;
	margin:0;
	padding:0 10px;
}

.ui-slider-horizontal .ui-slider-handle {
	background: url(images/slider-button.png);
	width:24px;
	height:24px;
	position:absolute;
	top:-7px;
	margin-left:-12px;
	z-index:200;
}

#slider-range{
	  width: 250px;
}
	
.ui-slider .ui-slider-range{
	background-position: 0 1px;
}  
.ui-widget-header {
	background:url(images/fill.png) no-repeat left;
	height:11px;
	left:1px;
	top:1px;
	position:absolute;
}


/* Search box styling */
.search-right {
	width: 400px;
}

.region-header-top-right form.search-google-appliance-search-form input.form-text, 
.region-header-top-right form.search-google-appliance-search-form textarea.form-textarea, 
.region-header-top-right form.search-google-appliance-search-form select {
	/* background-color: #fcfcfc; */
	border: 2px solid #eaeaea;
	color: #999999;
	font-size: 14px;
	padding: 14px;
	width: 325px;
	min-height: 50px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
/* 	background-color: #e0e0e0; */
	background:url(images/search_find.png) #e0e0e0 no-repeat right; 
}

#block-system-main .search-google-appliance-search-form .empty_search_block h1 {
	display: none;
}

#block-system-main .search-google-appliance-search-form {
	margin-bottom: 40px;
}

.region-header-top-right form.search-google-appliance-search-form input[type="submit"] {
	margin-left: -1000em;
	/* background:url(images/search_find.png) #e0e0e0 no-repeat left; */
	z-index: 100;
	background-color: #e0e0e0;
}

#block-block-43 {
	float: right;
	margin-bottom: 15px;
	margin-top: 3%;
}

#block-block-43 #edit-prompt {
	display:none;
}